<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @casestory.header %>
</p>

<p>
  <strong>Segname:</strong>
  <%= @casestory.segname %>
</p>

<p>
  <strong>Custname:</strong>
  <%= @casestory.custname %>
</p>

<p>
  <strong>Countryname:</strong>
  <%= @casestory.countryname %>
</p>

<p>
  <strong>Segurl:</strong>
  <%= @casestory.segurl %>
</p>

<p>
  <strong>Custurl:</strong>
  <%= @casestory.custurl %>
</p>

<p>
  <strong>Countryurl:</strong>
  <%= @casestory.countryurl %>
</p>

<p>
  <strong>Content:</strong>
  <%= @casestory.content %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @casestory.imgurl %>
</p>

<%= link_to 'Edit', edit_casestory_path(@casestory) %> |
<%= link_to 'Back', casestories_path %>
